{
  "JwtKey": "somethingsuperduperunique",
  "JwtIssuer": "https://maplestory.io",
  "JwtExpireDays": 30,
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "RethinkDb": {
    "Host": "localhost",
    "Port": 28015,
    "Timeout": 100,
    "Username": "user",
    "Password": "password"
  },
  "WZ": {
    "versions": [
      {
        "Location": "C:\\Nexon\\Library\\maplestory\\appdata\\Base.wz",
        "BaseFile": "Base",
        "MapleVersionId": "latest",
        "Region": 0,
        "isReady": true
      }
    ]
  }
}
